%h1
  Add spot
  
-form_for @spot do |f|
  =error_messages_for 'spot'
  %p
    =f.label :name
    =f.text_field :name
  %p
    =f.label :latitude
    =f.text_field :latitude, :size => 6
  %p
    =f.label :longitude
    =f.text_field :longitude, :size => 6
  %p
    =f.label :description
    %br
    =f.text_area :description, :rows => 3
  %p
    =f.submit 'Create'